@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(229, 6%, 66%);
    --clr-neutral-300: hsl(234, 12%, 34%);

    --ff: 'Poppins', sans-serif;

    --fs-400: 0.9375rem;
    --fs-600: 1.55rem;
}
